/MongoDataTranferTool.suo
/MongoDataTranferTool/bin
/MongoDataTranferTool/obj
/MongoDataTransferDll/bin
/MongoDataTransferDll/obj
/MongoDataTransferDll/MongoDataTransferDll.csproj.DotSettings.user
/MongoDataTranferTool/MongoDataTranferTool.csproj.DotSettings.user
/MongoDataTranferTool/MongoDataTranferTool.csproj.user